@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger" style="height:130px;">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
<p>
    <h1>Admin girişi için</h1>
    <br />
    <h3 class="fw-bold">
        email : kullanici@@k.com
        <br />
        şifre : Asd123.
    </h3>

</p>