<div class="container">
    <div style="margin-top:150px">
        <h3>Hakkımızda</h3>
        <p class="mt-3">

            Fast Fit Food, yüksek kaliteli, hızlı ve uygun fiyatlı yiyecekleri müşterilerine sunan bir fast food şirketidir. 2010 yılında kurulan şirketimiz, o zamandan beri her zaman müşteri memnuniyetini en ön planda tutarak, lezzetli ve sağlıklı yiyecekler sunmayı amaçlamaktadır.
            <br />
            <br />
            Fast Fit Food, her gün taze ve kaliteli malzemeler kullanarak yemekler hazırlamaktadır. Menümüzde, burgerler, sandviçler, wrapler, salatalar, yan ürünler ve içecekler gibi çeşitli seçenekler bulunmaktadır. Ayrıca, vegan ve vejetaryen müşterilerimiz için de özel seçenekler sunmaktayız.
            <br />
            <br />
            Müşteri memnuniyeti, Fast Fit Food'un en önemli önceliğidir. Hızlı servisimiz ve yüksek kaliteli yemeklerimiz sayesinde, müşterilerimiz bizimle tekrar tekrar iş yapmaktan mutluluk duyuyorlar. Ayrıca, sağlıklı yemek seçenekleri sunarak, müşterilerimizin sağlıklı bir yaşam tarzı sürdürmelerine yardımcı oluyoruz.
            <br />
            <br />
            Fast Fit Food olarak, sadece lezzetli yemekler sunmakla kalmayıp, aynı zamanda sürdürülebilir bir işletme olmak da önemlidir. Bu nedenle, çevre dostu ambalajlar kullanarak, atık miktarını azaltmayı ve çevreye daha az zarar veren bir işletme olmayı hedefliyoruz.
            <br />
            <br />
            Fast Fit Food, sadece bir fast food zinciri değildir, aynı zamanda müşterilerimizin ihtiyaçlarına uygun özel hizmetler de sunar. Toplu siparişler, catering hizmetleri ve özel etkinlikler için özel menüler sunuyoruz.
            <br />
            <br />
            Fast Fit Food olarak, müşterilerimize en yüksek kalitede hizmet sunmaktan gurur duyuyoruz. Her zaman müşteri memnuniyetini en ön planda tutarak, lezzetli ve sağlıklı yemekler sunmaya devam edeceğiz.
        </p>
    </div>
    <br />
    <div class="fw-bold text-end me-5 d-flex justify-content-around">
        <div></div>
        <img src="~/img/ffflogo.png" alt="Alternate Text" width="150"/>
        <span>
            Fast Fit Food ekibi
        </span>
    </div>
</div>